@keyframes navAnim {
	0%,
	10% {
		background-color: transparent;
		backdrop-filter: blur(0);
		padding: 1.7rem 4rem;
		border-bottom: #1e273700 0px solid;
	}

	30%,
	100% {
		background-color: #10141d86;
		backdrop-filter: blur(25px);
		padding: 0.8rem 4rem;
		border-bottom: #353c4bdf 2px solid;
	}
}

@keyframes thumb {
	0% {
		top: 0%;
	}

	100% {
		top: 100%;
	}
}

@keyframes aboutmeBtn {
	0%,
	5% {
		top: calc(75% + 100px);
		opacity: 1;
	}

	20% {
		opacity: 0.8;
	}

	30%,
	100% {
		top: calc(65% - 100px);
		opacity: 0;
	}
}
/*
@keyframes aboutme {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}

	30%,
	50% {
		opacity: 1;
		transform: translateY(0px);
	}

	65%,
	100% {
		opacity: 0;
		transform: translateY(150px);
	}
}

@keyframes experiences {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	30%,
	50% {
		opacity: 1;
		transform: translateY(0px);
	}

	67%,
	100% {
		opacity: 0;
		transform: translateY(-350px);
	}
}

@keyframes experiencesOffset1 {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	33%,
	50% {
		opacity: 1;
		transform: translateY(0px);
	}

	70%,
	100% {
		opacity: 0;
		transform: translateY(-350px);
	}
}

@keyframes experiencesOffset2 {
	10% {
		opacity: 0;
		transform: translateY(250px);
	}

	37%,
	55% {
		opacity: 1;
		transform: translateY(0px);
	}

	75%,
	100% {
		opacity: 0;
		transform: translateY(-350px);
	}
}

@keyframes experiencesOffset3 {
	20% {
		opacity: 0;
		transform: translateY(250px);
	}

	39%,
	60% {
		opacity: 1;
		transform: translateY(0px);
	}

	77%,
	100% {
		opacity: 0;
		transform: translateY(-350px);
	}
} */

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}

@keyframes fadeInUpOffset2 {
	0% {
		opacity: 0;
		transform: translateY(400px);
	}

	15% {
		opacity: 0;
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}

@keyframes fadeInUpOffset3 {
	0% {
		opacity: 0;
		transform: translateY(700px);
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}

@keyframes fadeInUpOffset4 {
	0% {
		opacity: 0;
		transform: translateY(1000px);
	}

	45% {
		opacity: 0;
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}

@keyframes fadeInUpOffset5 {
	0% {
		opacity: 0;
		transform: translateY(1300px);
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}

@keyframes fadeInUpOffset6 {
	0% {
		opacity: 0;
		transform: translateY(1600px);
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: var(--btnOpacity);
		transform: translateY(0);
	}
}
